<h1>Listing cycling_teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Logo</th>
      <th>Tdf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cycling_teams.each do |cycling_team| %>
      <tr>
        <td><%= cycling_team.name %></td>
        <td><%= cycling_team.description %></td>
        <td><%= cycling_team.logo %></td>
        <td><%= cycling_team.tdf %></td>
        <td><%= link_to 'Show', cycling_team %></td>
        <td><%= link_to 'Edit', edit_cycling_team_path(cycling_team) %></td>
        <td><%= link_to 'Destroy', cycling_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cycling team', new_cycling_team_path %>
