<div class="row">    

    <!-- Main Content Section -->
       
   <div class="large-3 columns">
        <%= render "layouts/googlead" %>
 </div>
    
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->

<div class="large-9 columns"><p id="notice"><%= notice %></p>
<p><%= link_to 'Back', cycling_teams_path %></p>

<p>
  <strong>Name:</strong>
  <%= @cycling_team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cycling_team.description %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @cycling_team.logo %>
</p>

<h3>Renners</h3>
<%= render @cycling_team.riders %>

</div>
</div>