<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stage.name %>
</p>

<p>
  <strong>Dates:</strong>
  <%= @stage.dates %>
</p>

<p>
  <strong>Start:</strong>
  <%= @stage.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @stage.finish %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @stage.distance %>
</p>

<p>
  <strong>Type:</strong>
  <%= @stage.type %>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
