<%= render "layouts/header" %>
	
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>	
	
   <%= yield %>
    <%= javascript_include_tag "application" %>

<%= render "layouts/footer" %>
  </body>
</html>